.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;

  .title {
    margin: 1rem;
    text-align: center;
    font-size: 1.5em;
  }

  .cards_container {
    display: flex;
  }
}
