.container {
  display: flex;
  align-items: center;
  font-size: 2em;

  *{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.adopt {
  color: white;
}

.app {
  color: #3EC97C;
}

.heart {
  margin-left: 0.2rem;
  color: #3EC97C;
}
