.title{
    letter-spacing: 3px;
    margin-bottom: 10px;
    
}

.subtitle{
    font-weight: lighter;
    margin-bottom: 10px;
}


.personalInfo{
    background-color: #5225BD;
    color: white;
    width: 100vw;
    text-align: center;
    padding: 1%;
    
    .personalInfoForm{
        display: flex;
        justify-content: space-around;
        font-weight: lighter;
        text-align: start;
        margin-top: 25px;
        
    }

    .personalInfo, input{
        width: 30vw;
        padding: 10px 10px 10px 10px;
        background-color: #f2f2f2;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        outline-style: none;
        
        }

}